* {
    box-sizing: border-box;
}

.box {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.box div {
    background-size: cover;
    object-fit: cover;
    flex: 1;
    
    
   
}

.box div img {
    width: 200%;
    height: 100%;
    margin: auto;
    display: block;
}

.food-img {
    width:300%;
}


