section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  /*border: 2px solid pink;*/
}

img {
  width: 20px;
  height: 20px;
  animation: blink 1s infinite;  
}

#frequency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  /*border: 2px solid coral;*/
  width: 50px;
}

#heart-bpm {
  padding-left: 5px;

  font-size: 1.2rem;
}

@keyframes blink {
  50% {
    opacity: 0.5;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    
  }
}