/**
 * hola!!
 **/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {    
    background: linear-gradient(to right, #f2be7e 8%, #f1af58 22%, #f0a338 34%, #f68e0e 56%, #f08f19 60%, #cc6a08 100%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;   
}
  
.container * {
    box-sizing: border-box;    
}

.container {  
    margin: auto;
    display: flex;
    min-width: 500px;   
    max-width: 500px;
    color: #7a6351;
    background: #ffffff;
    font-family: sans-serif;
    box-shadow: 14px 15px 37px 0px #7a6351;
    border-radius: 5px;
}

.box-perfil {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 62%;
    text-align: center;  
}

.box-perfil h1 {
    margin: 2.5rem 0 0.2rem 0;
    font-weight: bold;
}

.box-perfil h2 {
    
    margin: 0 0 1.5rem 0;
    font-weight: normal;
    font-size: 1.3rem;
}

.avatar {
    display: flex;
    width: 120px;
    height: 120px;
    align-items: center;
    justify-content: center;
}

.avatar img {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.circle {
    position: absolute;
    border: 1.7px solid #7a6351;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-left-color: transparent;
}

.avatar:last-child {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-left-color: #7a6351;
    border-right-color: transparent;
}

.box-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.estadistica {
    background: #f1e3dd;    
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column;
    flex: 1;
    margin: 0.1rem;
    justify-content: center;
}

.estadistica:first-child {
    border-top-right-radius: 5px;
}
    
.estadistica:last-child {
    border-bottom-right-radius: 5px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button-container button{
    border-radius: 2rem;
    padding: 1rem 4rem; 
    margin-top: 1rem;
    background-color: transparent;
    border: 1.7px solid #7a6351;
    border-style: solid;
    font-size: 1.3rem;
    font-weight: bold;
    color: #7a6351;    
}

.button-container button:first-child {
    margin-top: 2rem;
}

.button-container button:hover {
    background-color: #7a6351;
    color: #ffffff;  
}

.box-social .numero {
    font-weight: bold;
    font-size: 1.7rem;
}

